:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

option {
  color: black; /* Sets the color for items in the dropdown list */
  background-color: white; /* Ensures sufficient contrast */
}
